TicTacToeSAFE/tictactoegameSAFE/xml-resources/web-service-references/TicTacToeServer_7/wsdl/localhost_53340/TicTacToeServer/TicTacToeServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://game.server.ttt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://game.server.ttt/" name="TicTacToeServer">
<types>
<xsd:schema>
<xsd:import namespace="http://game.server.ttt/" schemaLocation="http://localhost:53340/TicTacToeServer/TicTacToeServer?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="getIsFound">
<part name="parameters" element="tns:getIsFound"/>
</message>
<message name="getIsFoundResponse">
<part name="parameters" element="tns:getIsFoundResponse"/>
</message>
<message name="getPlayer2">
<part name="parameters" element="tns:getPlayer2"/>
</message>
<message name="getPlayer2Response">
<part name="parameters" element="tns:getPlayer2Response"/>
</message>
<message name="getPlayer1">
<part name="parameters" element="tns:getPlayer1"/>
</message>
<message name="getPlayer1Response">
<part name="parameters" element="tns:getPlayer1Response"/>
</message>
<message name="setPlayerMove">
<part name="parameters" element="tns:setPlayerMove"/>
</message>
<message name="setPlayerMoveResponse">
<part name="parameters" element="tns:setPlayerMoveResponse"/>
</message>
<message name="setResetGame">
<part name="parameters" element="tns:setResetGame"/>
</message>
<message name="setResetGameResponse">
<part name="parameters" element="tns:setResetGameResponse"/>
</message>
<message name="updateIsCreated">
<part name="parameters" element="tns:updateIsCreated"/>
</message>
<message name="updateIsCreatedResponse">
<part name="parameters" element="tns:updateIsCreatedResponse"/>
</message>
<message name="resetFound">
<part name="parameters" element="tns:resetFound"/>
</message>
<message name="resetFoundResponse">
<part name="parameters" element="tns:resetFoundResponse"/>
</message>
<message name="setDraws">
<part name="parameters" element="tns:setDraws"/>
</message>
<message name="setDrawsResponse">
<part name="parameters" element="tns:setDrawsResponse"/>
</message>
<message name="showComboBox">
<part name="parameters" element="tns:showComboBox"/>
</message>
<message name="showComboBoxResponse">
<part name="parameters" element="tns:showComboBoxResponse"/>
</message>
<message name="getSquare">
<part name="parameters" element="tns:getSquare"/>
</message>
<message name="getSquareResponse">
<part name="parameters" element="tns:getSquareResponse"/>
</message>
<message name="updateSquare">
<part name="parameters" element="tns:updateSquare"/>
</message>
<message name="updateSquareResponse">
<part name="parameters" element="tns:updateSquareResponse"/>
</message>
<message name="setWinLose">
<part name="parameters" element="tns:setWinLose"/>
</message>
<message name="setWinLoseResponse">
<part name="parameters" element="tns:setWinLoseResponse"/>
</message>
<message name="isFoundReset">
<part name="parameters" element="tns:isFoundReset"/>
</message>
<message name="isFoundResetResponse">
<part name="parameters" element="tns:isFoundResetResponse"/>
</message>
<message name="showLeaderboards">
<part name="parameters" element="tns:showLeaderboards"/>
</message>
<message name="showLeaderboardsResponse">
<part name="parameters" element="tns:showLeaderboardsResponse"/>
</message>
<message name="showPlayerMove">
<part name="parameters" element="tns:showPlayerMove"/>
</message>
<message name="showPlayerMoveResponse">
<part name="parameters" element="tns:showPlayerMoveResponse"/>
</message>
<message name="resetGame">
<part name="parameters" element="tns:resetGame"/>
</message>
<message name="resetGameResponse">
<part name="parameters" element="tns:resetGameResponse"/>
</message>
<message name="getWinLose">
<part name="parameters" element="tns:getWinLose"/>
</message>
<message name="getWinLoseResponse">
<part name="parameters" element="tns:getWinLoseResponse"/>
</message>
<message name="setWins">
<part name="parameters" element="tns:setWins"/>
</message>
<message name="setWinsResponse">
<part name="parameters" element="tns:setWinsResponse"/>
</message>
<message name="joinGame">
<part name="parameters" element="tns:joinGame"/>
</message>
<message name="joinGameResponse">
<part name="parameters" element="tns:joinGameResponse"/>
</message>
<message name="updateIsFound">
<part name="parameters" element="tns:updateIsFound"/>
</message>
<message name="updateIsFoundResponse">
<part name="parameters" element="tns:updateIsFoundResponse"/>
</message>
<message name="setLoses">
<part name="parameters" element="tns:setLoses"/>
</message>
<message name="setLosesResponse">
<part name="parameters" element="tns:setLosesResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getPlayerMove">
<part name="parameters" element="tns:getPlayerMove"/>
</message>
<message name="getPlayerMoveResponse">
<part name="parameters" element="tns:getPlayerMoveResponse"/>
</message>
<message name="getLeaderSplit">
<part name="parameters" element="tns:getLeaderSplit"/>
</message>
<message name="getLeaderSplitResponse">
<part name="parameters" element="tns:getLeaderSplitResponse"/>
</message>
<portType name="TicTacToeServer">
<operation name="register">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/registerRequest" message="tns:register"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getIsFound">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getIsFoundRequest" message="tns:getIsFound"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getIsFoundResponse" message="tns:getIsFoundResponse"/>
</operation>
<operation name="getPlayer2">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayer2Request" message="tns:getPlayer2"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayer2Response" message="tns:getPlayer2Response"/>
</operation>
<operation name="getPlayer1">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayer1Request" message="tns:getPlayer1"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayer1Response" message="tns:getPlayer1Response"/>
</operation>
<operation name="setPlayerMove">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setPlayerMoveRequest" message="tns:setPlayerMove"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setPlayerMoveResponse" message="tns:setPlayerMoveResponse"/>
</operation>
<operation name="setResetGame">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setResetGameRequest" message="tns:setResetGame"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setResetGameResponse" message="tns:setResetGameResponse"/>
</operation>
<operation name="updateIsCreated">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/updateIsCreatedRequest" message="tns:updateIsCreated"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/updateIsCreatedResponse" message="tns:updateIsCreatedResponse"/>
</operation>
<operation name="resetFound">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/resetFoundRequest" message="tns:resetFound"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/resetFoundResponse" message="tns:resetFoundResponse"/>
</operation>
<operation name="setDraws">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setDrawsRequest" message="tns:setDraws"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setDrawsResponse" message="tns:setDrawsResponse"/>
</operation>
<operation name="showComboBox">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/showComboBoxRequest" message="tns:showComboBox"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/showComboBoxResponse" message="tns:showComboBoxResponse"/>
</operation>
<operation name="getSquare">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getSquareRequest" message="tns:getSquare"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getSquareResponse" message="tns:getSquareResponse"/>
</operation>
<operation name="updateSquare">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/updateSquareRequest" message="tns:updateSquare"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/updateSquareResponse" message="tns:updateSquareResponse"/>
</operation>
<operation name="setWinLose">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setWinLoseRequest" message="tns:setWinLose"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setWinLoseResponse" message="tns:setWinLoseResponse"/>
</operation>
<operation name="isFoundReset">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/isFoundResetRequest" message="tns:isFoundReset"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/isFoundResetResponse" message="tns:isFoundResetResponse"/>
</operation>
<operation name="showLeaderboards">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/showLeaderboardsRequest" message="tns:showLeaderboards"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/showLeaderboardsResponse" message="tns:showLeaderboardsResponse"/>
</operation>
<operation name="showPlayerMove">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/showPlayerMoveRequest" message="tns:showPlayerMove"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/showPlayerMoveResponse" message="tns:showPlayerMoveResponse"/>
</operation>
<operation name="resetGame">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/resetGameRequest" message="tns:resetGame"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/resetGameResponse" message="tns:resetGameResponse"/>
</operation>
<operation name="getWinLose">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getWinLoseRequest" message="tns:getWinLose"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getWinLoseResponse" message="tns:getWinLoseResponse"/>
</operation>
<operation name="setWins">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setWinsRequest" message="tns:setWins"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setWinsResponse" message="tns:setWinsResponse"/>
</operation>
<operation name="joinGame">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/joinGameRequest" message="tns:joinGame"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/joinGameResponse" message="tns:joinGameResponse"/>
</operation>
<operation name="updateIsFound">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/updateIsFoundRequest" message="tns:updateIsFound"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/updateIsFoundResponse" message="tns:updateIsFoundResponse"/>
</operation>
<operation name="setLoses">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/setLosesRequest" message="tns:setLoses"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/setLosesResponse" message="tns:setLosesResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/loginRequest" message="tns:login"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getPlayerMove">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayerMoveRequest" message="tns:getPlayerMove"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getPlayerMoveResponse" message="tns:getPlayerMoveResponse"/>
</operation>
<operation name="getLeaderSplit">
<input wsam:Action="http://game.server.ttt/TicTacToeServer/getLeaderSplitRequest" message="tns:getLeaderSplit"/>
<output wsam:Action="http://game.server.ttt/TicTacToeServer/getLeaderSplitResponse" message="tns:getLeaderSplitResponse"/>
</operation>
</portType>
<binding name="TicTacToeServerPortBinding" type="tns:TicTacToeServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIsFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayer2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayer1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPlayerMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setResetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateIsCreated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDraws">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showComboBox">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setWinLose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isFoundReset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showLeaderboards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showPlayerMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWinLose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setWins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="joinGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateIsFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayerMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLeaderSplit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicTacToeServer">
<port name="TicTacToeServerPort" binding="tns:TicTacToeServerPortBinding">
<soap:address location="http://localhost:53340/TicTacToeServer/TicTacToeServer"/>
</port>
</service>
</definitions>