TicTacToeSAFE/tictactoegameSAFE/xml-resources/web-service-references/TTTserver_23/wsdl/localhost_53340/TicTacToeLinker/TTTserver.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.game.ttt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.game.ttt/" name="TTTserver">
<types>
<xsd:schema>
<xsd:import namespace="http://server.game.ttt/" schemaLocation="http://localhost:53340/TicTacToeLinker/TTTserver?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="updateIsFound">
<part name="parameters" element="tns:updateIsFound"/>
</message>
<message name="updateIsFoundResponse">
<part name="parameters" element="tns:updateIsFoundResponse"/>
</message>
<message name="updateIsCreated">
<part name="parameters" element="tns:updateIsCreated"/>
</message>
<message name="updateIsCreatedResponse">
<part name="parameters" element="tns:updateIsCreatedResponse"/>
</message>
<message name="isFoundReset">
<part name="parameters" element="tns:isFoundReset"/>
</message>
<message name="isFoundResetResponse">
<part name="parameters" element="tns:isFoundResetResponse"/>
</message>
<message name="showLeaderboards">
<part name="parameters" element="tns:showLeaderboards"/>
</message>
<message name="showLeaderboardsResponse">
<part name="parameters" element="tns:showLeaderboardsResponse"/>
</message>
<message name="setWinLose">
<part name="parameters" element="tns:setWinLose"/>
</message>
<message name="setWinLoseResponse">
<part name="parameters" element="tns:setWinLoseResponse"/>
</message>
<message name="setWins">
<part name="parameters" element="tns:setWins"/>
</message>
<message name="setWinsResponse">
<part name="parameters" element="tns:setWinsResponse"/>
</message>
<message name="setPlayerMove">
<part name="parameters" element="tns:setPlayerMove"/>
</message>
<message name="setPlayerMoveResponse">
<part name="parameters" element="tns:setPlayerMoveResponse"/>
</message>
<message name="setResetGame">
<part name="parameters" element="tns:setResetGame"/>
</message>
<message name="setResetGameResponse">
<part name="parameters" element="tns:setResetGameResponse"/>
</message>
<message name="getWinLose">
<part name="parameters" element="tns:getWinLose"/>
</message>
<message name="getWinLoseResponse">
<part name="parameters" element="tns:getWinLoseResponse"/>
</message>
<message name="setDraws">
<part name="parameters" element="tns:setDraws"/>
</message>
<message name="setDrawsResponse">
<part name="parameters" element="tns:setDrawsResponse"/>
</message>
<message name="getIsFound">
<part name="parameters" element="tns:getIsFound"/>
</message>
<message name="getIsFoundResponse">
<part name="parameters" element="tns:getIsFoundResponse"/>
</message>
<message name="showPlayerMove">
<part name="parameters" element="tns:showPlayerMove"/>
</message>
<message name="showPlayerMoveResponse">
<part name="parameters" element="tns:showPlayerMoveResponse"/>
</message>
<message name="getSquare">
<part name="parameters" element="tns:getSquare"/>
</message>
<message name="getSquareResponse">
<part name="parameters" element="tns:getSquareResponse"/>
</message>
<message name="resetGame">
<part name="parameters" element="tns:resetGame"/>
</message>
<message name="resetGameResponse">
<part name="parameters" element="tns:resetGameResponse"/>
</message>
<message name="joinGame">
<part name="parameters" element="tns:joinGame"/>
</message>
<message name="joinGameResponse">
<part name="parameters" element="tns:joinGameResponse"/>
</message>
<message name="resetFound">
<part name="parameters" element="tns:resetFound"/>
</message>
<message name="resetFoundResponse">
<part name="parameters" element="tns:resetFoundResponse"/>
</message>
<message name="showComboBox">
<part name="parameters" element="tns:showComboBox"/>
</message>
<message name="showComboBoxResponse">
<part name="parameters" element="tns:showComboBoxResponse"/>
</message>
<message name="setLoses">
<part name="parameters" element="tns:setLoses"/>
</message>
<message name="setLosesResponse">
<part name="parameters" element="tns:setLosesResponse"/>
</message>
<message name="updateSquare">
<part name="parameters" element="tns:updateSquare"/>
</message>
<message name="updateSquareResponse">
<part name="parameters" element="tns:updateSquareResponse"/>
</message>
<message name="getPlayer">
<part name="parameters" element="tns:getPlayer"/>
</message>
<message name="getPlayerResponse">
<part name="parameters" element="tns:getPlayerResponse"/>
</message>
<portType name="TTTserver">
<operation name="register">
<input wsam:Action="http://server.game.ttt/TTTserver/registerRequest" message="tns:register"/>
<output wsam:Action="http://server.game.ttt/TTTserver/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://server.game.ttt/TTTserver/loginRequest" message="tns:login"/>
<output wsam:Action="http://server.game.ttt/TTTserver/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="updateIsFound">
<input wsam:Action="http://server.game.ttt/TTTserver/updateIsFoundRequest" message="tns:updateIsFound"/>
<output wsam:Action="http://server.game.ttt/TTTserver/updateIsFoundResponse" message="tns:updateIsFoundResponse"/>
</operation>
<operation name="updateIsCreated">
<input wsam:Action="http://server.game.ttt/TTTserver/updateIsCreatedRequest" message="tns:updateIsCreated"/>
<output wsam:Action="http://server.game.ttt/TTTserver/updateIsCreatedResponse" message="tns:updateIsCreatedResponse"/>
</operation>
<operation name="isFoundReset">
<input wsam:Action="http://server.game.ttt/TTTserver/isFoundResetRequest" message="tns:isFoundReset"/>
<output wsam:Action="http://server.game.ttt/TTTserver/isFoundResetResponse" message="tns:isFoundResetResponse"/>
</operation>
<operation name="showLeaderboards">
<input wsam:Action="http://server.game.ttt/TTTserver/showLeaderboardsRequest" message="tns:showLeaderboards"/>
<output wsam:Action="http://server.game.ttt/TTTserver/showLeaderboardsResponse" message="tns:showLeaderboardsResponse"/>
</operation>
<operation name="setWinLose">
<input wsam:Action="http://server.game.ttt/TTTserver/setWinLoseRequest" message="tns:setWinLose"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setWinLoseResponse" message="tns:setWinLoseResponse"/>
</operation>
<operation name="setWins">
<input wsam:Action="http://server.game.ttt/TTTserver/setWinsRequest" message="tns:setWins"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setWinsResponse" message="tns:setWinsResponse"/>
</operation>
<operation name="setPlayerMove">
<input wsam:Action="http://server.game.ttt/TTTserver/setPlayerMoveRequest" message="tns:setPlayerMove"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setPlayerMoveResponse" message="tns:setPlayerMoveResponse"/>
</operation>
<operation name="setResetGame">
<input wsam:Action="http://server.game.ttt/TTTserver/setResetGameRequest" message="tns:setResetGame"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setResetGameResponse" message="tns:setResetGameResponse"/>
</operation>
<operation name="getWinLose">
<input wsam:Action="http://server.game.ttt/TTTserver/getWinLoseRequest" message="tns:getWinLose"/>
<output wsam:Action="http://server.game.ttt/TTTserver/getWinLoseResponse" message="tns:getWinLoseResponse"/>
</operation>
<operation name="setDraws">
<input wsam:Action="http://server.game.ttt/TTTserver/setDrawsRequest" message="tns:setDraws"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setDrawsResponse" message="tns:setDrawsResponse"/>
</operation>
<operation name="getIsFound">
<input wsam:Action="http://server.game.ttt/TTTserver/getIsFoundRequest" message="tns:getIsFound"/>
<output wsam:Action="http://server.game.ttt/TTTserver/getIsFoundResponse" message="tns:getIsFoundResponse"/>
</operation>
<operation name="showPlayerMove">
<input wsam:Action="http://server.game.ttt/TTTserver/showPlayerMoveRequest" message="tns:showPlayerMove"/>
<output wsam:Action="http://server.game.ttt/TTTserver/showPlayerMoveResponse" message="tns:showPlayerMoveResponse"/>
</operation>
<operation name="getSquare">
<input wsam:Action="http://server.game.ttt/TTTserver/getSquareRequest" message="tns:getSquare"/>
<output wsam:Action="http://server.game.ttt/TTTserver/getSquareResponse" message="tns:getSquareResponse"/>
</operation>
<operation name="resetGame">
<input wsam:Action="http://server.game.ttt/TTTserver/resetGameRequest" message="tns:resetGame"/>
<output wsam:Action="http://server.game.ttt/TTTserver/resetGameResponse" message="tns:resetGameResponse"/>
</operation>
<operation name="joinGame">
<input wsam:Action="http://server.game.ttt/TTTserver/joinGameRequest" message="tns:joinGame"/>
<output wsam:Action="http://server.game.ttt/TTTserver/joinGameResponse" message="tns:joinGameResponse"/>
</operation>
<operation name="resetFound">
<input wsam:Action="http://server.game.ttt/TTTserver/resetFoundRequest" message="tns:resetFound"/>
<output wsam:Action="http://server.game.ttt/TTTserver/resetFoundResponse" message="tns:resetFoundResponse"/>
</operation>
<operation name="showComboBox">
<input wsam:Action="http://server.game.ttt/TTTserver/showComboBoxRequest" message="tns:showComboBox"/>
<output wsam:Action="http://server.game.ttt/TTTserver/showComboBoxResponse" message="tns:showComboBoxResponse"/>
</operation>
<operation name="setLoses">
<input wsam:Action="http://server.game.ttt/TTTserver/setLosesRequest" message="tns:setLoses"/>
<output wsam:Action="http://server.game.ttt/TTTserver/setLosesResponse" message="tns:setLosesResponse"/>
</operation>
<operation name="updateSquare">
<input wsam:Action="http://server.game.ttt/TTTserver/updateSquareRequest" message="tns:updateSquare"/>
<output wsam:Action="http://server.game.ttt/TTTserver/updateSquareResponse" message="tns:updateSquareResponse"/>
</operation>
<operation name="getPlayer">
<input wsam:Action="http://server.game.ttt/TTTserver/getPlayerRequest" message="tns:getPlayer"/>
<output wsam:Action="http://server.game.ttt/TTTserver/getPlayerResponse" message="tns:getPlayerResponse"/>
</operation>
</portType>
<binding name="TTTserverPortBinding" type="tns:TTTserver">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateIsFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateIsCreated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isFoundReset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showLeaderboards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setWinLose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setWins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPlayerMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setResetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWinLose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDraws">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIsFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showPlayerMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="joinGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetFound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showComboBox">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TTTserver">
<port name="TTTserverPort" binding="tns:TTTserverPortBinding">
<soap:address location="http://localhost:53340/TicTacToeLinker/TTTserver"/>
</port>
</service>
</definitions>